@import 'normalize';
@import 'compass/css3';
@import 'modular-scale';
@import 'responsive-modular-scale';

@mixin media($n) {
  @media screen and (min-width: $n) {
    @content;
  }
}

$base-font-size: 18px;
$column-width: 366px;

$default-color: #ff2776;
 $medium-color: #e88b24;
  $large-color: #2785ff;

$medium: to-em(550px);
 $large: to-em(800px);

body {
  background: #eee url('../img/bright_squares.png') repeat;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: $base-font-size;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@include rms-set-scales($base-font-size, $major-third, $medium $fourth, $large $fifth);
@include rms-set-base($base-font-size);

h1, h2, h3, p, ul, ol, li, img {
  margin: 0 0 1rem 0;
}

h1 {
  @include rms(5);
  font-family: 'Cookie';
  font-weight: normal;
}
h2 {
  @include rms(2);
  margin-bottom: 0.5em;
  line-height: 1;
}
h3 {
  @include rms(1);
}

p, li, code {
  line-height: $major-third;

  @include media($medium) {
    line-height: $fourth;
  }
  @include media($large) {
    line-height: $fifth;
  }
}

a {
  color: #a20800;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin: 0;
}
code {
  border: 1px dotted #999;
  background: rgba(#fff, 0.5);
}
.code-block {
  display: block;
  padding: 0.75em;
  margin-bottom: 1em;
  background: rgba(#fff, 0.5);
}

.divider {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 5px dotted $default-color;
}

/*
  Page styles
*/

.main {
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;

  > section {
    margin-bottom: 2em;
  }
}

.header {
  $background-opacity: 0.6;
  background-color: rgba($default-color, $background-opacity);
  text-align: center;
  position: relative;

  @include media($medium) {
    padding: 2em 0;
    background-color: rgba($medium-color, $background-opacity);
  }
  @include media($large) {
    padding: 2.5em 0;
    background-color: rgba($large-color, $background-opacity);
  }
}
  .header__inner {
    max-width: 1134px;
    margin: 0 auto;
    padding: 1em;
  }
  .header__title {
    line-height: 0.9;
    margin-bottom: 0;
    color: #fff;

    @include media($medium) {
      margin-top: -0.1em;
    }
  }
  .header__subtitle {
    @include rms(2);
    font-weight: 100;
    line-height: 1;
    color: #fff
  }
  .header__install {
    display: inline-block;
    font-family: monospace;
    @include rms(1);
  }
  .header__fork-link {
    height: 30px;
    display: block;
    margin: 1em auto 0 auto;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: black;
    }

    @include media($medium) {
      position: absolute;
      margin-top: 0.25em;
      top: 1em;
      right: 1em;
    }
    @include media($large) {
      height: auto;
    }
  }
  .header__ticks {
    height: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.lower {
      top: auto;
      bottom: 0;
    }

    > div {
      position: absolute;
      width: 5px;
      height: 10px;
      background: #ddd;
      bottom: 0;
    }
    .tick-0 { left: 0; }
    .tick-1 { left: 3.2%; }
    .tick-2 { left: 6.4%; }
    .tick-3 { left: 12.9%; }
    .tick-4 { left: 25.8%; }
    .tick-5 { left: 51.6%; }
    .tick-6 { left: 100%; margin-left: -5px; }

    @include media($medium) {
      height: 20px;
      > div { height: 20px; }
    }
    @include media($large) {
      height: 30px;
      > div { height: 30px; }
    }
  }

.demo {
  border-bottom: 4px dotted $default-color;
  margin: 1em;
  padding: 1em 0;

  @include media($medium) {
    padding: 2em 0;
    margin-bottom: 2em;
  }
}
  .demo__inner {
    max-width: 1134px;
    margin: 0 auto;
  }
  .demo__scale-small {
    text-align: center;

    p {
      @include rms(1);
    }
  }
  .demo__scale-medium, .demo__scale-large {
    @extend .demo__scale-small;
    display: none;

    .demo__scale-list li {
      display: inline-block;
      padding: 0 1rem;
    }
  }
    @include media($medium) {
      .demo__scale-small  { display: none; }
      .demo__scale-medium { display: block; }
    }
    @include media($large) {
      .demo__scale-medium { display: none; }
      .demo__scale-large  { display: block; }
    }
  .demo__scale-list {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
    text-align: center;

    .scale-0 { @include rms(0); }
    .scale-1 { @include rms(1); }
    .scale-2 { @include rms(2); }
    .scale-3 { @include rms(3); }
    .scale-4 { @include rms(4); }
  }
  .demo__explanation {
    @include rms(1);
    margin: 0;
    font-weight: 300;
  }
  .medium {
    color: $medium-color;
  }
  .large {
    color: $large-color;
  }

/*
  Color scheme
*/

h2, a, {
  color: $default-color;

  @include media($medium) {
    color: $medium-color;
  }
  @include media($large) {
    color: $large-color;
  }
}
html, .demo, .divider {
  border-color: $default-color;

  @include media($medium) {
    border-color: $medium-color;
  }
  @include media($large) {
    border-color: $large-color;
  }
}
strong {
  .demo-scale-small &  { color: $default-color; }
  .demo-scale-medium & { color: $medium-color; }
  .demo-scale-large &  { color: $large-color; }
}