@import 'compass';
@import 'responsive-modular-scale';

body {
  max-width: 900px;
  margin: 0 auto;
  background: #eee;
  color: #000;
  font-family: sans-serif;
  font-size: 14px;
}

// Basic scale function
@include rms-set-scales(16px, $fourth, 640px $augmented-fourth, 1024px $fifth);

// Debug function
@include rms-list-scales(0, 5);

h1 {
  @include rms(3);
  padding-bottom: 0.5em;
  border-bottom: 1px solid #000;
}

// Applying the scales
.scale-0 {
  @include rms(0);
}
.scale-1 {
  @include rms(1);
}
.scale-2 {
  @include rms(2);
}
.scale-3 {
  @include rms(3);
}
.scale-4 {
  @include rms(4);
}
.scale-5 {
  @include rms(5);
}

.adjscale {
  @include rms(1);

  p {
    @include rms(0, 1);
  }
}
.adjscale-2 {
  p {
    @include rms(2);
  }
  .inner {
    @include rms(2);

    p {
      @include rms(2, 2);
    }
  }
}