@import 'compass';
@import 'responsive-modular-scale';

body {
  max-width: 900px;
  margin: 0 auto;
  background: #eee;
  color: #000;
  font-family: sans-serif;
}

@include set-scales(16px 100px, fourth(), 640px augmented-fourth(), 1024px fifth());
@include list-scales(0, 5);

.scale-0 {
  @include rms(0);
}
.scale-1 {
  @include rms(1);
}
.scale-2 {
  @include rms(2);
}
.scale-3 {
  @include rms(3);
}
.scale-4 {
  @include rms(4);
}
.scale-5 {
  @include rms(5);
}
.scale-6 {
  @include rms(6);
}